
  body{
    font-family: 'Playfair Display', serif;
    margin: 0%;
    width: 100%;
    height: 100%;
    /*width: 1920px;
    height: 3553px;*/
}

.btn-up {
position: fixed;
background-color: #7E8566;
right: 20px;
bottom: 20px;
border-radius: 22px;
cursor: pointer;
width: 44px;
height: 44px;
}

.btn-up::before {
content: "";
text-align: center;
position: absolute;
width: 20px;
height: 20px;
left: 12px;
top: 12px;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-up_hide {
display: none;
}

@media (hover: hover) and (pointer: fine) {
.btn-up:hover {
background-color: #FEFAE0;
}
}

header{
    display: flex;
    width: 96%;
    height: 4%;
    /*width: 1840px;
    height: 123px;*/
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.logo{
    display: flex;
    justify-content: left;
    width: 11.9%;
    height: 66.66%;
    margin: auto 0%;
    flex-shrink: 0;
}

p2{
    display: flex;
    width: 90%;
    height: 40%;
    flex-direction: column;
    justify-content: center;

    color: #404B34;
    text-align: center;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1vw;
    text-transform: lowercase;
}



p3{
    display: flex;
    width: 74.5%;
    height: 45%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #404B34;
    text-align: center;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0%; /* 0% */
    letter-spacing: 0.6vw;
    text-transform: uppercase;
}

.pan{
    display: flex;
    justify-content: center;
    width: 36%;
    height: 22.7%;
    margin: auto 0;
    flex-grow: 1;
    flex-shrink: 0;
}

p1{
    vertical-align: middle;
    margin: auto 0 ;
    color: #404B34;
    text-align: center;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0%; /* 0% */
    letter-spacing: 0.3vw;
    text-transform: capitalize;
   
}

.pan a {
    margin: auto 2% ;        
    text-decoration: none
}

.account {
            
    width: 2.7%;
    height: 36.5%;
    display: flex;
    align-items: center;
    margin-right: 2%;
        
}

.kor{
    align-items: center;
    width: 10%;
    height: 54.4%;
    flex-shrink: 0;
    border-radius: 2vw;
    background: #404B34;
    margin: auto 0;
    color:white;
    text-align: center;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3vw;
    text-transform: capitalize;

}
.kor a{
    color: white;
    text-decoration: none;
}

.account a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}


.menu-toggle {
    display: none;
    width: 5%;
    height: 100%;
    background-color: #404B34;
    border: none;
    color: #fff;
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
}
.menu-dropdown{
  display: none;
}



h1{
    margin: auto 0;
    margin-top: 5%;
    margin-bottom: 5%;
    color:#404B34;
    text-align: center;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3vw;
    text-transform: capitalize;

}
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=confirmPasword] {
    border: none;
    border-bottom: 1.5px solid;
    background-color: #F4F4F5;
    color: #000;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 1vw;
    
}
.mb-3{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.form-label{
    font-size: 1.2vw;
}
::placeholder {
    color: #000;
}
#step1-form{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.b{
    display: flex;
    justify-content: center;
    
}
.r{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.h8{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    font-size: 1vw;
}
.log, .btn{
    font-size: 1.2vw
}
.btn{
    
    border-radius: 5px;
    background: rgba(64, 75, 52, 0.70);
}
.btn:hover{
    background: #6ea632;
}
.f{
    width: 29%;
    height: 36.46vw;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 8%;
    background: rgba(204, 213, 174, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}
.b{
    margin-right: 2%;
}
footer{
    background: #D1D5B5;
    width: 100%;
    height: 18vw/*338px*/;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}
.fleft{
    width: 71%;
    height: 100%;
}
.fright{
    width: 29%/*555px*/;
    height: 100%;
    display: flex;
    justify-content: center;
}
.kat{
    width: 100%/*1365px*/;
    height: 14vw;/*267*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.katalog{
    width: 23%;
    height: 69%;
    display: flex;
flex-direction: column;
align-items: center;

}
.our{
    width: 20%;
    height: 69%;
}
.infor{
    width: 45%;
    height: 70%;
}


.with_our{
    width: 89%;
    height: 72%;
    margin-top: 7%;

    display: flex;
    flex-direction: column;
    align-items: center;

}
p15{
    
    width: 72%;
    height: 19%;
    margin-left: 5%;
    flex-shrink: 0;

    color: #404B34;
    vertical-align: bottom;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.15vw;
}
.p16{
    color: #404B34;
    text-align: center;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    font-weight: bold;
}
.p17{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
}
footer p{
    color: #404B34;
    margin-left: 5%;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3vw; /* 0% */
    letter-spacing: 0.2vw;
}
p17{
    color: #404B34;
    text-align: center;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3vw; /* 0% */
    letter-spacing: 0.2vw;
}
.znac{
    width: 80%;
    height: 13%;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5%;

    color: #404B34;
    text-align: center;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    letter-spacing:  0.2vw;
}

@media (max-width: 2000px) {
    .f{
      height: 41vw;
    }
}

@media (max-width: 1800px) {
    .f{
      height: 42vw;
    }
}

@media (max-width: 1600px) {
    .f{
      height: 44vw;
    }
}


@media screen and (max-width: 1400px) {
    .f{
       
        height: 47vw;
}}


@media screen and (max-width: 1200px) {
    .logo p2{
        height: 30%;
        margin-top: 14%
    }
    .f{
       
        height: 49vw;
}
    
}
@media screen and (max-width: 1000px) {
    .logo p2{
        height: 30%;
        margin-top: 14%
    }
    .f{
        height: 53vw;
      }
      .invalid-feedback{
        font-size: 1.2vw;
    }
    .mb-3 {
        margin-bottom: 0px!important; 
    }
}


@media only screen and (max-width: 800px) {
    .pan {
        display: none;
    }
    .logo p2{
        height: 30%;
        margin-top: 8%
    }
    .account a {
        display: none;
    
    }
    .kor{
        display: none;
    }
    .menu-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-dropdown {
        display: none;
        background-color: #E9EDC9;
        position: absolute;
        top: 5.9vw;
        left: 0;
        right: 0;
        text-align: left;
        z-index: 1;
    }
    .menu-dropdown a {
        display: block;
        padding: 2vw;
        border-bottom: 1px solid #ddd;
      }
    p1{
        font-size: 2.3vw;
    }
    .menu-toggle.active + .menu-dropdown {
        display: block;
    }
    
    .menu-dropdown a {
        display: block;
        text-decoration: none;
    }

    .f{
       
        height: 55vw;
}


}

a{
    text-decoration: none ;
    color: #404B34; /* Цвет ссылок */
    transition: color 0.3s;
}
a:hover{
    color: #5b882a;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .logo p2{
        height: 30%;
        margin-top: 14%
    }

 
    p1{
        font-size: 3vw;
        top: 3vw;
    }
    .menu-dropdown {
        top: 7vw;
    }
    .f{
        height: 58vw;
      }
    
      .my-custom-margin{
        margin-bottom: 0;
    }
    .invalid-feedback{
        font-size: 1.2vw;
    }
    .form-label{
        margin-bottom: 1%;
    }
}